<form [formGroup]="form"  (ngSubmit)="saveProduct($event)">
    <mat-card>
        <mat-card-header>
            <mat-card-title>
                Producto
            </mat-card-title>
        </mat-card-header>
    </mat-card>
    <mat-card-content>

        <div class="row">
            <div class="col-xs">
                <mat-form-field>
                    <input 
                        matInput 
                        formControlName="title" 
                        type="text" 
                        placeholder="Ingrese un title">
                </mat-form-field>                
            </div>
        </div>

        <div class="row">
            <div class="col-xs">
                <mat-form-field>
                    <input 
                        matInput 
                        formControlName="price" 
                        type="number" 
                        placeholder="Ingrese un price">
                </mat-form-field>
                <div *ngIf="form.get('price').errors && form.get('price').dirty">
                    <mat-error  *ngIf="form.get('price').hasError('price_invalid')">Este campo no es valido</mat-error>                 
                    <mat-error>
                        <p *ngIf="form.get('price').hasError('required')">Este campo es obligarorio</p>                
                    </mat-error>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-xs">
                <mat-form-field>
                    <textarea 
                        matInput 
                        formControlName="description" 
                        type="number" 
                        placeholder="Ingrese una descripcion">
                    </textarea>
                </mat-form-field>         
            </div>
        </div>
        
        <mat-card-actions>
            <button 
                mat-raised-button 
                type="submit" 
                [disabled]="form.invalid"> 
                Guardar
            </button>
        </mat-card-actions>    
    </mat-card-content>
</form>