<input [(ngModel)]="title"/>
{{title}}
<div *ngIf="title == 'kevin'">
  este es un div
</div>

<div [ngSwitch]="title">
  <p *ngSwitchCase="'julian'">Este es julian</p>
  <p *ngSwitchCase="'Miguel'">Este es Miguel</p>
  <p *ngSwitchCase="'Pedro'">Este es Pedro</p>
</div>

<button (click)="addItem()">add</button>
<p *ngIf="nombres.length <= 0">Lista vacia</p>
<ul>
  <li *ngFor="let item of nombres; index as i">
    {{item}} {{i}}
    <button (click)="deleteItem(i)">borrar</button>
  </li>
</ul>

<div class="product-grid">
  <app-product 
    *ngFor="let product of products" 
    (productClicked)="clickProduct($event)" 
    [producto]="product">
  </app-product>
</div>